{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "globals": {
    "document": true,
    "it": true,
    "xit": true,
    "expect": true,
    "describe": true,
    "jest": true,
    "beforeEach": true
  }
}
