{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "rules": {
    "no-console": "warn"
  },
  "globals": {
    "document": true,
    "it": true,
    "xit": true,
    "expect": true,
    "describe": true,
    "jest": true,
    "beforeEach": true,
    "require": true,
    "module": true,
    "window": true,
    "console": true,
    "__dirname": true
  }
}
