@font-face {
  font-family: 'Futura Std';
  src: url('fonts/FuturaStd-Book.woff2') format('woff2'),
    url('fonts/FuturaStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Futura Std', sans-serif;
  margin: 16px;
  background-color: #eee;
}

h1 {
  color: #5b6a71;
  margin: 0;
  margin-bottom: 8px;
  @media (max-width: 450px) {
    font-size: 22px;
  }
}
