@font-face {
  font-family: 'Futura Std';
  src: url('fonts/FuturaStd-Book.woff2') format('woff2'),
    url('fonts/FuturaStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Futura Std', sans-serif;
  margin: 0;
  background-color: #eee;
}
